body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin: auto;
    height: max-content;
}
.container{
    width: 90%;
}
.container1{
    /* display: none; */
}
.container1 div{
    position: absolute;
    margin-top: -30%;
    left: 15%;
}a
.container1 div label{
    color: #fff;
    font-size: 4rem;
}
#nop,#nope{
    margin-left: 1rem;
    font-size: 4rem;
    background-color: black;
    border: black;
    color: #fff;
}
.bgd{
    
    width: 100%;
}
.container2{
    display: none;
}
.containerr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color: #fff;
    font-size: 4rem;
    text-decoration: underline;
}
#r1,#r2,#r3,#r4,#r5{
    color: #fff;
    font-size: 2.5rem;
    margin: 1rem;
}
#begin{
    position: absolute;
    margin-top: 2rem;
    font-size: 3rem;
    margin-left: 80%;
    border-radius: 10px;
    padding: 1rem 2rem;
    font-weight: bolder;
}
#start{
        position: relative;
        transform: translate(-310%,250%);
        font-size: 3rem;
        border-radius: 10px;
        padding: 1rem 2rem;
        background-color: black;
        color: #fff;
        font-weight: bolder;
}
#rules{
    position: relative;
    transform: translate(-200%,120%);
    font-size: 3rem;
    border-radius: 10px;
    padding: 1rem 2rem;
    background-color: black;
    color: #fff;
    font-weight: bolder;
}
.container3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}
#ques{
    margin-top: 4rem;
    width: 50%;
}
.container4{
    display: none;
    flex-direction: column;
}
#eliminate{
    color: #fff;
    font-size: 6rem;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 3rem;
    text-decoration: underline;
}
.containerscore{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#player1s,#player2s,#player3s,#player4s{
    justify-content: center;
    display: flex;
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 2%;}
#player4s,#player3s{
    display: none;
}
#player1,#player2,#player3,#player4{
    justify-content: center;
    display: flex;
    color: #fff;
    font-size: 4rem;
    text-align: center;
    margin-top: 2%;}
#continue{
    margin-top: 3rem;
        position: relative;
        background-color: black;
        color: #fff;
        font-size: 4rem;
        border-radius: 10px;
        padding: 1rem 2rem;
        font-weight: bolder;
        margin-left:auto;
        margin-right: auto;
}
#player1,#player2,#player3,#player4{
    /* display: none;} */}

#p1win,#p2win,#p3win,#p4win,#none{
    color: #fff;
    font-size: 8rem;
    text-align: center;
    margin-top: 12rem;}

    #p1win,#p2win,#p3win,#p4win,#none{display: none;}

    #restart{
        margin-top: 3rem;
        position: relative;
        background-color: black;
        color: #fff;
        font-size: 4rem;
        border-radius: 10px;
        padding: 1rem 2rem;
        font-weight: bolder;
        margin-left:auto;
        margin-right: auto;
    }
#container5{
    display: none;
    flex-direction: column;
}
.keys{
    color: #fff;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#keys{
    color: #fff;
    font-size: 4rem;
    text-decoration: underline;
    margin-bottom: 0.5rem;
}
#p1key,#p2key,#p3key,#p4key{
    color: #fff;
    font-size: 2.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    /* display: none; */
}
#p3key,#p4key{
    display: none;}